* {
    margin: 0 !important;
    padding: 0 !important;
    scroll-behavior: smooth !important;
}

.headr-navbar {
    padding: 1rem 2rem !important;
}

.bg-navbar {
    background: blue !important;
}